<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aoinc.wknd6_a_biddingwars">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gavel_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gavel_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wknd6_A_BiddingWars">
        <activity android:name=".view.MainNav.MainNavActivity"/>
        <activity android:name=".view.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.aoinc.wknd6_a_biddingwars.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data android:resource="@xml/file_path"
                android:name="android.support.FILE_PROVIDER_PATHS" />

        </provider>

    </application>

</manifest>